
<div class="form">
    <div class="fixed-top" style="text-align: center;">
      <h1 style=" color: blueviolet;"> Contact Our </h1>
      <h1> Customer Support Center</h1>
    </div>

  <!-- <div class="form-group" style="text-align: right; ">  -->
    <div class="image">
      <a target="_blank" href="../assets/img/MarvellousImage.jpeg">
        <img src="../assets/img/MarvellousImage.jpeg" alt="Cinque Terre" width="300" height="200">
      </a>
    <!-- </div> -->
  <!-- </div> -->
</div>

<!-- 
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../assets/img/aks02.png">
        <img src="../assets/img/aks02.png" alt="Cinque Terre" width="600" height="400">
      </a>
    </div>
</div> -->

<app-contact-info></app-contact-info>

<router-outlet></router-outlet>